@import "tailwindcss";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-logo: "Source Code Pro", monospace;

    --color-primary: #2563eb;
    --color-background: #f8fafc;
    --color-surface: white;
    --color-surface-focus: #eff6ff;
    --color-primary-text: #0f172a;
    --color-secondary-text: #475569;
    --color-subtle: #e2e8f0;

    --color-primary-dark: #3b82f6;
    --color-background-dark: #020617;
    --color-surface-dark: #020617;
    --color-surface-focus-dark: #0b1f4b;
    --color-primary-text-dark: #f8fafc;
    --color-secondary-text-dark: #94a3b8;
    --color-subtle-dark: #1e293b;
}

@custom-variant dog (&:where([data-theme=dog], [data-theme=dog] *));

html,
body {
    @apply bg-background dog:bg-background-dark text-primary-text dog:text-primary-text-dark;
}
